# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
build/
build_linux/
linux_build/
build_win/

# MSVC
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/
*.VC.db
*.VC.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.VC.VC.opendb-shm
*.VC.VC.opendb-wal
*.opensdf
*.sdf
*.cachefile
*.VC.db
ipch/
*.VC.VC.opendb
*.VC.VC.opendb-shm
*.VC.VC.opendb-wal

# Clang
*.o
*.d
*.out

# Google Test
*.tmp
gtest/

# Visual Studio Code
.vs/
*.code-workspace